[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-astatine-theme"]
	path = themes/hugo-astatine-theme
	url = https://github.com/hugcis/hugo-astatine-theme.git
